<div class="container">
  <form #courseForm="ngForm" (ngSubmit)="save(courseForm)" autocomplete="off">
    <div class="ui-g">
      <div class="ui-g-12">
        <h1> {{ editando ? 'Edição de' : 'Novo' }} Curso </h1>
      </div>
      <div class="ui-g-12 ui-fluid">
        <label for="description">Descrição</label>
        <input pInputText [(ngModel)]="course.description" type="text" name="description" id="description"
          #description="ngModel" required>

        <app-message [control]="description" error="required" text="Informe a descrição do curso">
        </app-message>
      </div>

      <div class="ui-g-12 ui-md-6 ui-fluid">
        <label for="startDate">Data de Início</label>
        <p-calendar [(ngModel)]="course.startDate" name="startDate" id="startDate" dateFormat="dd/mm/yy"
          [inline]="false" [readonlyInput]="false" [showIcon]="false" #startDate="ngModel">
        </p-calendar>

        <app-message [control]="startDate" error="required" text="Informe a data de início do curso"></app-message>
      </div>

      <div class="ui-g-12 ui-md-6 ui-fluid">
        <label for="finishDate">Data de Término</label>
        <p-calendar [(ngModel)]="course.finishDate" name="finishDate" id="finishDate" dateFormat="dd/mm/yy"
          [inline]="false" [readonlyInput]="false" [showIcon]="false" #finishDate="ngModel">
        </p-calendar>

        <app-message [control]="finishDate" error="required" text="Informe a data de término do curso"></app-message>
      </div>

      <div class="ui-g-12 ui-md-6 ui-fluid">
        <label for="amountOfStudents">Quantidade de alunos</label>
        <input pInputText [(ngModel)]="course.amountOfStudents" type="text" name="amountOfStudents"
          id="amountOfStudents" #amountOfStudents="ngModel" pKeyFilter="int">
      </div>

      <div class="ui-g-12 ui-md-6 ui-fluid">
        <label style="display: block" for="category">Categoria</label>
        <p-dropdown [(ngModel)]="course.category.id" name="category" id="category" [options]="categories"
          [autoWidth]="false" placeholder="Selecione" [filter]="true" required>
        </p-dropdown>
      </div>

      <div class="ui-g-12">
        <button pButton type="submit" label="Salvar" [disabled]="!courseForm.valid" style="margin-right: 5px;"></button>
        <button pButton type="button" label="Novo" class="ui-button-info" (click)="reset(courseForm)"
          style="margin-right: 5px;"></button>
        <a routerLink="/cursos">Voltar para pesquisa</a>
      </div>
    </div>
  </form>
</div>
